In [105]:
import pandas

In [106]:
pandas.read_csv("marks.csv") #to read csv/txt file

      name  hrs  marks
0    rahul    2     20
1     yash    4     40
2    priya    5     50
3  praveen    7     70
4     jack    6     60

In [107]:
dataset = pandas.read_csv("marks.csv")    #put it inside a variable

In [108]:
type(dataset)

pandas.core.frame.DataFrame

In [109]:
dataset

      name  hrs  marks
0    rahul    2     20
1     yash    4     40
2    priya    5     50
3  praveen    7     70
4     jack    6     60

In [110]:
#let's assign hrs and marks into some variable 
# we do so so to let program know that x = hrs that is present in the dataset as the program won't know this like humans and will take it as some data value

x = dataset['hrs']
y = dataset['marks']

In [111]:
sum(x)   #to get the sum of all the values inside x

24

In [112]:
sum(dataset['marks'])    #same as sum(x)

240

In [113]:
dataset["hrs"] == 6    #same like how we check is 5>2 or 1<3

0    False
1    False
2    False
3    False
4     True
Name: hrs, dtype: bool

In [114]:
dataset[dataset["hrs"] == 6]    #we can make our own function and put it inside the dataset, this is basically querying on the data

   name  hrs  marks
4  jack    6     60

In [115]:
from sklearn.linear_model import LinearRegression   #Scikit learn = library, skelarn = module, LinearRegression = function, confirm it once

In [116]:
#right now mind is immature let's mature it
mind = LinearRegression() #fed mind the function, we r basically implementing this: y = cx

In [117]:
mind.fit(x,y) #now the mind knows the func let's feed the data

ValueError: Expected 2D array, got 1D array instead:
array=[2 4 5 7 6].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [118]:
x.ndim #shows error b/c model Expected 2D array, got 1D array instead

1

In [119]:
x = x.values.reshape(-1, 1) #let's reshape it

In [120]:
x.ndim

2

In [121]:
model.fit(x,y) #model prepared

LinearRegression()

In [122]:
model.predict([[30]]) #working fine

array([300.])